doctype html
html
    head
        title Interesting Webpage
        link(rel="stylesheet" type="text/css" href="resources/css/awesome.css")
    body
        h1 Welcome to my webpage.
        h2 Gee, isn't it swell.
        h3 It fills me with happiness on the inside.
        | Other things that bring me happiness include:
        ul
            li Webpages from the 90s
            li Kittens
            li Small Children on Halloween
            li Drinking Coffee as black as my soul
        | I guess you could say that I'm not a happy person.
        br
        p.
            The main things contributing to my unhappiness are as follows:
        ol
            li A lack of caffeine
            li A lack of kittens in my dorm
            li A lack of uninteresting things on my webpage
        | Beware. There is a picture of a cat below. It's totally uninteresting.
        br
        img(src="resources/images/bacon.jpg")
        br
        | I lied. It wasn't a cat.
        | Why would I lie about it being a cat?
        | Because I'm Santa.
        br
        | You know what Santa means, don't you?
        | It means Satan. In anagram form.
        br
        a(href="http://omfgdogs.com/") Link to Proof
        br
        a(href="redirect.html") Other Proof