doctype html
html
    head
        title Not OMFGDOGS
        link(rel="stylesheet" type="text/css" href="resources/css/awesome.css")
    body
        center
            h1 HAHAHAHAHAHA I LIED
            a(href="index.html") BACK TO MAIN PAGE
            br
            iframe(src="http://omfgdogs.com/" width="800" height="600")